<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link href="/static/styles.css" rel="stylesheet">
        <title>Birthdays</title>
    </head>
    <body>
        <div class="header">
            <h1>Birthdays</h1>
        </div>
        <div class="container">
            <div class="section">

                <h2>Add a Birthday</h2>
                <!-- TODO: Create a form for users to submit a name, a month, and a day -->
                <!-- See here for documentation: https://www.w3schools.com/tags/att_form_method.asp -->
                <form action="/" method="POST">
                    <input name="name" placeholder="Name" type="text" autocomplete="off">
                    <input name="day" placeholder="Day" type="text" autocomplete="off">
                    <input name ="month" placeholder="Month" type="text" autocomplete="off">
                    <button id = "submit">Enter Birthday</button>
                </form>
            </div>

            <div class="section">

                <h2>All Birthdays</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Birthday</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: Loop through the database entries to display them in this table -->
                        <!-- Associate app.py with index.html -->
                        <!--See here for explanation: https://stackoverflow.com/questions/16867898/what-does-mean-in-html-->
                        {% for birthday in birthdays %}
                        <tr>
                            <td>{{birthday.name}}</td>
                            <td>{{birthday.day}}</td>
                            <td>{{birthday.month}}</td>
                        </tr>
                        {% endblock %}
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
